* {
  ;
  box-sizing: border-box;
}
body {
  font-family: arial;
  padding: 20px;
  background: GREY;
}
/* creation of my header */
.header {
  padding: 80px;
  font-size :40px;
  text-align: center;
  background: green;
  color: white;
}

/* nav bar styling */
.navbar {
  overflow: hidden;
  background-color: black;
}
/* creation of nav bar  */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
/* creates gray hover for navbar */
.navbar a:hover {
  background-color: grey;
  color: white;
}

.navbar .search-container {
  float: right;
}
.navbar input[type=text] {
  padding : 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.navbar button {
  width: 20%;
  padding: 6px;
  background: green;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

/* creates my left column  */
.leftcolumn {
  float: left;
  width: 75%;
}
/* creates my right column  */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
/* creates a boxy look */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 1px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* make webpage adjust to cellular or smaller screen */
@media screen and (max-width: 700px) {
  .row {
  flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
      float: none;
      width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
      width: 100%
      padding: 0;
  }
}
