*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align:center;
}
/******************* Nav-Bar Style********************/
.wrapper{
  width:1170px;
  margin: 0 auto;
}
#nav-bar > header{
  height: 100px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
  box-shadow: 0 0 25px 0 black;
}
.logo{
  width: 30%;
  float: left;
  line-height: 100px;
}
.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family:bignoodletitling;
  color: #fff;
  letter-spacing: 5px;
}
.logo a:hover{
  color: royalblue;
  cursor: pointer;
}
nav{
  float: right;
  line-height: 100px;
}
nav a{
  text-decoration: none;
  font-family: bignoodletitling;
  letter-spacing:4px;
  font-size:20px;
  margin: 0 10px;
  color: white;
}
nav a:hover{
  color: royalblue;
  cursor: pointer;
}
.banner-area{
  width: 100%;
  height:600px;
  position: fixed;
  top: 100px;
  background-image: url(https://github.com/Foreveryoungx/ReachCapstone/blob/master/Images/city_at_night.preview.jpg?raw=true);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area h2{
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;

}
.content-area{
  width: 100%;
  position: relative;
  top: 450px;
  background:;
  height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.5)), url(https://github.com/Foreveryoungx/ReachCapstone/blob/master/Images/city_at_night.preview.jpg?raw=true);
}
.content-area h2{
  font-family: bignoodletitling;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
  color: #f1f1f1;
}
.content-area p{
  padding: 2% 0;
  font-family: merienda;
  line-height: 30px;

}


/* Login box */
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding:70px 30px;
}



.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: green;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.loginbox a:hover
{
  color: #ffc107;
}

    /************ 1st jumbotron and  Carousel******************/
    #jumbotron {
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60vh;
      background-color: #262626;
    }
    #jumbotron > a {
      text-decoration: none;
      background-color: white;
      font-size: 1.5em;
      padding: 1.5rem;
      border-radius: 10px;
    }
    #jumbotron > h2 {
      color: white;
      text-align: center;
    }
    #jumbotron > div.slideshow-container > a.prev{
      left: 0;
      border-radius: 3px 0 0 3px;
    }
    #jumbotron > div.slideshow-container > a.next{
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    #jumbotron body {
      color: #fff;
      text-align: center;
      font-family: Verdana,sans-serif;
      margin: 0;
    }
    #jumbotron > div.slideshow-container .myslides{
      display: none;
    }
    #jumbotron > div.slideshow-container{
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    #jumbotron > div.slideshow-container a.prev, a.next{
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    #jumbotron > div.slideshow-container > div:nth-child(1) > div.numbertext{
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    #jumbotron > div.slideshow-container .prev:hover, .next:hover{
      background-color: rgba(0,0,0,0.8);
    }
    #jumbotron .text{
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    #jumbotron .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    #jumbotron .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    #jumbotron .active, .dot:hover {
      background-color: #717171;
    }
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    #jumbotron .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @media ()
    /********** End of jumbotron Carosuel ************/

    /*************** Creation of 2nd Jumbotron ********************/
      #jumbotron1 {
      background: url(https://p1.pxfuel.com/preview/784/512/884/night-mountains-city-snow.jpg) center center no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }
    #jumbotron1 {
      color: #fff;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    form > * {
      margin: .5rem;
    }
    form > input[type=submit] {
      width: 40%;
      margin: .5rem;
      margin-right: auto;
    }

/**************** Footer if needed work in progress ******************/
    footer {
      border-top: solid 0px black;
      padding: 2rem 2rem 4rem;
      position: relative;
      clear: both;
      height: 2.5rem;
      padding-bottom: 0em;
      bottom: 0;
      box-shadow: 0 0 25px 0 black;
      background: #262626;
    }
    footer{
      color: #fff;
    }
/********** end of Footer ************/
/*************** search Bar *************/
.search-field{
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}
.business{
  width: 400px;
}
.location{
  width: 200px
}
.search-btn {
  height: 70px;
  width: 100px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
}
.search-btn:hover {
  background: #ffc107;
  cursor: pointer;
}
.form-box {
  background: rgba(0,0,0,0.5);
  padding: 30px;
}
/**************** end of search bar **********************************/

/***************** Contact Form **************************************/
#root > div > form input[type=text], select, textarea{
  width:100%;
  padding:11px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 16px;
  resize: vertical;
}
#root > div > form > label:nth-child(1){
  color: #f2f2f2;
}
#root > div > form > label:nth-child(3) {
  color: #f2f2f2;
}
#root > div > form > label:nth-child(5) {
  color: #f2f2f2;
}
#root > div > form > label:nth-child(7) {
  color: #f2f2f2;
}
#root > div > form input[type=submit] {
  background-color: #ffeb3b;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#root > div > form input[type=submit]:hover {
  background-color: #ffc107;
}
#root > div.content-area > div > form > div > button:active{
  box-shadow: inset 0 0 3px 1px black;
}
.container {
  border-radius: 6px;
  background-color:#f2f2f2;
  background:linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));;
  background-size: cover;
  padding: 400px;
  text-align: left;
  border: 1px solid black;
}
.container1 {
  border-radius: 5px;
  background-color:#f2f2f2;
  background:linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  padding: 400px;
  text-align: left;
  border: 1px solid black;
}
/************** End of contact form ***********/

/************** sign Up ******************/
#signup input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}
#signup input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}
#signup button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
#signup button:hover{
  opacity: 1;
}
#signup .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
#signup .signupbtn {
  padding:14px 20px;
  width: 50%;
}
#signup .signupbtn:active{
  box-shadow: inset 0 0 3px 1px black;
}
#signup .cancelbtn:active {
  box-shadow: inset 0 0 3px 1px black;

}
#signup .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.modal {
position: fixed;
z-index: 1;
left: 0;
top: 0;
right: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: #474e5d;
padding-top: 5px 5px 5px;
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
}
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
} */
#signup > p:nth-child(2) {
  color: #f1f1f1;
  padding: 2%;
  text-align: center;
  margin: auto;
}
#signup > label:nth-child(3){
  color: #f1f1f1;
}
#signup > label:nth-child(5){
  color: #f1f1f1;
}
#signup > label:nth-child(7){
  color: #f1f1f1;
}
#signup > label:nth-child(9){
  color: #f1f1f1;
}
#signup > p:nth-child(10){
  color: #f1f1f1;
}

#signup > h1 {
  color: #f1f1f1;
  padding: 2%;
  text-align: center;
  margin: auto;
}

/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */
/********* end of signup page ************/

/****** Signup Page ********/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
div#root{
 background:
 linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}
form#msform{
  width: 400px;
  margin: auto;
  padding-top:0px;
  padding-bottom: 0px;
}
#msform fieldset{
  background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input,#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform > fieldset:nth-child(2) > input[type="password"]:nth-child(4){
  padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px green;
}
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

/********** style Contact Card ***********/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 500px;
}
.title {
  color: grey;
  font-size: 18px;
}
#root > div > p:nth-child(8) > button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#root > div > a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
/******** End Style Contact Card *********/

#root > div > img {
  width: 100%;
}
